@{
    ViewBag.Title = "Ürün Düzelt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Context VeriTabani = new Context();
}
<div class="page-heading">
    <div class="row match-height">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ürün Düzeltme</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        @using (Html.BeginForm("AdminUrunDuzelt", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form form-vertical" }))
                        {
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="Adi">Ürün Adı</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control"
                                                   value="@Model.Adi"
                                                   name="Adi"
                                                   id="Adi"
                                                   required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group select-border has-icon-left">
                                            <label for="KategoriID">Kategori</label>
                                            <div class="position-relative">
                                                <select class="form-control basic-select" id="KategoriID" name="KategoriID" required>
                                                    <option value="@Model.KategoriID">@ViewBag.Kategori</option>
                                                    @foreach (var item in VeriTabani.UrunKategoriTablosu.ToList())
                                                    {
                                                        <option value="@item.KategoriID">@item.Adi</option>
                                                    }
                                                </select>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-arrow-down-square"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="Aciklama">Ürün Açıklaması</label>
                                            <div class="position-relative">
                                                <textarea type="text" class="form-control"
                                                      placeholder="Açıklama Giriniz"
                                                      name="Aciklama"
                                                      id="Aciklama"
                                                      required>@Model.Aciklama</textarea>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="Fiyat">Fiyatı</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control"
                                                   placeholder="Fiyat giriniz"
                                                   value="@Model.Fiyat"
                                                   name="Fiyat"
                                                   id="Fiyat"
                                                   required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                            <span class="font-bold text-danger position-absolute" id="HataMesaji"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="StokAdeti">Stok Adeti</label>
                                            <div class="position-relative">
                                                <input type="number" class="form-control"
                                                   placeholder="Stok Adeti giriniz"
                                                   value="@Model.StokAdeti"
                                                   name="StokAdeti"
                                                   id="StokAdeti"
                                                   required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="KullanilanYaglar">Üründe Kullanılan Yağlar <br>(yağların isimlerini virgül ile ayırın)</label>
                                            <div class="position-relative">
                                                <textarea type="text" class="form-control"
                                                      placeholder="Hani yağlar kullanıldı"
                                                      name="KullanilanYaglar"
                                                      id="KullanilanYaglar"
                                                      required>@Model.KullanilanYaglar</textarea>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-right">
                                            <label for="Dosya">Ürün fotoğrafları <br>(Seçilen ilk fotoğraf ürünün kapak fotoğrafı olacaktır.)</label>
                                            <div class="input-group file-upload">
                                                <input type="file" class="form-control multiple" accept="~/UrunResimleri/*" multiple id="Dosya" name="Dosya">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 pb-2">
                                        <div class="form-group has-icon-left">
                                            <label for="VideoLink">Ürün video linki</label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control"
                                                   placeholder="Video Yerleştirme (Embed) Linki"
                                                   value="@Model.VideoLink"
                                                   name="VideoLink"
                                                   id="VideoLink">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-pen"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <a class="btn btn-primary me-1 mb-1" href="@Url.Action("AdminUrunListe","Admin")">Listele</a>
                                        <button type="submit"
                                            class="btn btn-primary me-1 mb-1">
                                            Kaydet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


