@{
    ViewData["Title"] = "Ürünler";

}
<link href="~/css/Liste.css" rel="stylesheet">
<form method="get" asp-controller="Home" asp-action="UrunListe" enctype="multipart/form-data">
    <div class="container">
        <div id="content" class="my-5">
            <div class="form-group">
                <div style="float:right">
                    <button type="submit" class="btn btn-info" name="btn">Ara</button>
                </div>
                <div style="width:15%; float:right">
                    <input type="text" class=" form-control" id="ara" placeholder="Ürün ara" name="ara" maxlength="50">
                </div>
            </div>
            <br />
        </div>
    </div>
</form>
<form method="get" asp-controller="Home" asp-action="UrunDetay" enctype="multipart/form-data">
    <div class="container">
        <div id="content" class="my-5">
            <div class="content ps-3 pb-3">
                <small>
                    <i class="bi bi-house"></i><a class="NoStyleLink p-2" href="/Home/Index">Ana Sayfa</a><i class="bi bi-arrow-right"></i>
                    @if (ViewBag.KategoriYaz != null)
                    {
                        <a class="p-2"href="/Home/UrunListe">Ürünler</a>
                        <i class="bi bi-arrow-right"></i>
                        <span>@ViewBag.KategoriYaz</span>
                    }
                    else
                    {
                        <a class="p-2">Ürünler</a>
                    }
                </small>
            </div>
            <div id="products">
                <div class="row mx-0">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-3 mb-4">
                            <div class="card d-flex flex-column align-items-center">
                                <button style="background:none;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit;" asp-controller="Home" asp-action="UrunDetay" asp-route-id="@item.ID">
                                    <div class="product-name">@item.Adi</div>
                                    <div class="product-name"><small>@item.KategoriAdi</small></div>
                                    <div class="card-img">
                                        <img src="~/UrunResimleri/@item.Fotolar.Split(';')[0]" alt="">
                                    </div>
                                    <div class="price mt-3">
                                        <div class="del text-center">
                                            <span class="text-dark">5500 uah</span>
                                        </div>
                                        <div class="font-weight-bold text-success">@item.Fiyat TL</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>




